<html>
<title>Merchant</title>
	<head>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/merchant.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	
	<body>
		<div class="left">
		    <div class="products">
			<% for(var i = 0; i < products.length; i++) {%>
				<div data-product-id="<%= i %>" class="product-container border">
				    <span>Name:</span>
					<div>
						<input value="<%=products[i].name%>" name="product_name" type="text"/>
					</div>
					<div>
						<span>Price:</span>
						<input value="<%=products[i].price%>" name="product_price" type="text"/>
					</div>
					<div>
						<span>inventory:</span>
						<input value="<%=products[i].inventory%>" name="product_inventory" type="text"/>
					</div>
					<div class="product-buttons">
						<button class="update">Update</button>
						<button class="remove">Remove</button>
					</div>
				</div>
			<% } %>
			</div>
			<div class="product-container border new-product-container">
					<span>Name:</span>
					<div>
						<input value="" name="product_new_name" type="text"/>
					</div>
					<div>
						<span>Price:</span>
						<input value="" name="product_new_price" type="text"/>
					</div>
					<div>
						<span>inventory:</span>
						<input value="" name="product_new_inventory" type="text"/>
					</div>
					<div class="product-buttons">
						<button class="add">Add</button>
					</div>
				</div>
			
		</div>
		<div class="orders-container left border">
			<h2>Orders</h2>
			<div class="orders-items">
                <% for(var i = 0; i < orders.length; i++) {%>
                    <div class="order" data-order-id="<%=i %>">
                        <strong>Client:<%=orders[i].client%></strong>
                        <br>
                        <span>
                            <span>Total price</span>
                            <span><%=orders[i].getTotalPrice()%></span>
                        </span>
                        <div class="action">
                            <select name="" id="">
    				<option <%=orders[i].status=="placed"?"selected":null %> value="placed">placed</option>
    				<option <%=orders[i].status=="delivered"?"selected":null %> value="delivered">delivered</option>
    				<option <%=orders[i].status=="cancelled"?"selected":null %> value="cancelled">cancelled</option>
                            </select>
                        </div>
                        <div style="clear:both"></div>
                        <ul>
                        <% for(var j=0;j<orders[i].productLineItems.length;j++){%>
                            <li>
                                <%=orders[i].productLineItems[j].product.name%>
                                (<%=orders[i].productLineItems[j].qty%>):
                                <%=orders[i].productLineItems[j].total%>
                            </li>  
                        <%}%>
                        </ul>
                    </div>
                <%}%>
			</div>
		</div>
</html>
